<div class="container" >

      <div>
        <button class='btn btn-primary' (click)="playMusic()"> Start </button>
        <button class='btn btn-primary' (click)="nextTrack()"> Next </button>
        ...tilting the your device forward also changes the song.
      </div>
      <div class="row">
          <!-- USERS ONLINE SECTION -->
          <h3>TEAM MEMBERS</h3>
        {{me}}
          <!--<div *ngFor="#member of teamList" >-->

            <!--<div class="desc">-->
              <!--<div class="thumb">-->
                <!--&lt;!&ndash;<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="details">-->
                <!--<p><a>{{member}}</a><br/></p>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
      </div>
      <div *ngIf="admin === true" class="row">
        <!-- Admin Mode -->
        <h3>Admin Mode</h3>
        <div >
          first team.. second team.. third team..

        </div>
      </div>

</div>

