<div class="container" >

      <div>
        <button class='btn btn-primary' (click)="playMusic()"> Start </button>
        <button class='btn btn-primary' (click)="nextTrack()"> Next </button>
        ...tilting the your device forward also changes the song.
      </div>
      <div class="row">
          <!-- USERS ONLINE SECTION -->
          <h3>TEAM MEMBERS</h3>
        {{me}}
          <!--<div *ngFor="#member of teamList" >-->

            <!--<div class="desc">-->
              <!--<div class="thumb">-->
                <!--&lt;!&ndash;<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="details">-->
                <!--<p><a>{{member}}</a><br/></p>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
      </div>
      <div *ngIf="admin === true" class="row">
        <!-- Admin Mode -->
        <h3>Admin Mode</h3>
        <div>
          <ul *ngIf="allTeams && allTeams.length > 0" class="chosen-choices">
            <li class="search-choice" *ngFor="#team of allTeams">
              <span class="tag label label-info">
                <span>{{team.name}}</span>
                <span>{{team.genres}}</span>
                <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" (click)="removeTeam(team)"></i></a>
              </span>
            </li>
          </ul>

          <div *ngIf="allTeams.length === 0">
            Loading teams...
          </div>
        </div>

      </div>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <create-team></create-team>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

