<section id="container" >

  <section id="main-content">
    <section class="wrapper">

      <div class="row">

        <div class="col-lg-9 main-chart">

            <div class="row mtbox">
              <button class='btn btn-primary' (click)="playMusic()"> Start </button>

              <button class='btn btn-primary' (click)="nextTrack()"> Next </button>

            </div>


            <div class="row mt">

            </div><!-- /row -->

            <div class="row">

            </div><!-- /row -->
            <div class="row mt">

            </div><!-- /row -->

          </div>

        <div class="col-lg-3 ds">

          <!-- USERS ONLINE SECTION -->
          <h3>TEAM MEMBERS</h3>
          <div *ngFor="#member of teamList" >

            <div class="desc">
              <div class="thumb">
                <!--<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">-->
              </div>
              <div class="details">
                <p><a>{{member}}</a><br/></p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section>
  </section>

  <footer class="site-footer">
    <div class="text-center">
      2016 - Deezer Challenge Team
      <a href="" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>

</section>

