<div class="todo-container">

  <h1 class="todo-title">{{title}}</h1>

  <div style="margin: 20px; height: 300px; width: 300px">
    <div id="player"></div>
  </div>

  <div id="dz-root"></div>

  <button (click)="login()"> Login </button>

  <button (click)="logout()"> Logout </button>

  <button (click)="playMusic()"> Start </button>

  <button (click)="nextTrack()"> Next </button>

  <button (click)="addToTeam()"> Add to a Team </button>

  <input [(ngModel)]="input">
  {{input}}

  <button (click)="saveValue(input)">Save Value</button>
  {{aresponse}}

  <button (click)="createUser(input)">create user</button>

  <!-- Routed views go here -->
  <router-outlet></router-outlet>

</div>
